.container {
  .left-column {
    background-color: $primary;
    box-sizing: border-box;
    color: $white;
    float: left;
    padding: 1rem;
    width: 20%;
    h1 {
      font-size: 1.25rem;
      margin: 0 0 .65rem 0;
    }

    .filters {
      cursor: pointer;
      display: block;
      font-size: .8rem;
      font-weight: 600;
      padding: .2rem;
      margin-bottom: .2rem;
    }

    .future {
      margin-bottom: 1rem;
    }
  }

  .main-content {
    box-sizing: border-box;
    color: $darkgray;
    float: left;
    width: 80%;
    h1 {
      font-size: 1.25rem;
      margin: 0;
    }

    .actions {
      font-size: 1.25rem;
      .add, .delete, .done {
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }

        &.checked {
          color: $primary;
        }
      }
      .done, .add {
        padding-right: .2rem;
      }

      .add {
        color: $primary;
      }
      .delete {
        color: $danger;
      }
    }

    .header {
      background-color: $darkgray;
      box-shadow: 0 0 10px $lightgray;
      color: $white;
      padding: .5rem 1rem;
    }

    .tasks {
      padding: 1rem .25rem;
      box-shadow: 0 0 10px $lightgray;
      .details, .sub-tasks {
        display: flex;
        justify-content: space-between;
        padding: .25rem 0;

        .name {
          font-size: .75rem;
          .eta {
            color: $gray;
            font-size: .65rem;
            padding-left: .5rem;
          }
        }

        input[type='checkbox'] {
          transform: scale(1.45);
          &:checked {
            color: blue;
          }
        }
      }

      .task {
        padding: .2rem 0;
      }

      .extra {
        border-top: 1px solid $gray;
        border-bottom: 1px solid $gray;
        margin: 0;
        li {
          padding: .25rem .25rem .25rem 1rem;
          &:not(:first-child) {
            border-top: .1px solid $milk;
          }
        }
      }
    }
  }
}