body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  display:table;
  list-style: none;
  width:100%;
  box-sizing:border-box;
  li {
    display:table-cell;
  }
}

input[type=submit], button {
  background-color: $primary;
  cursor: pointer;
  &:hover {
    background-color: $primary-hover;
  }
}

.container {
  @include clear;
  max-width: 768px;
  margin: 0 auto;

  &.header {
    display: flex;
    justify-content: space-between;
  }
}