.navbar {
  background-color: $primary;
  padding: .8rem 1rem;
}

.header {
  .logo{
    color: $white;
    font-size: 1.25rem;
    font-weight: bold;
    font-family: 'Kalam', cursive;
  }

  .link{
    color: $white;
    font-size: .8rem;
    font-weight: 600;
    &:hover {
      opacity: 0.8;
    }
  }
}

.create {
  padding: .5rem 1rem;
  #create-task {
    box-sizing: border-box;
    border: 1px solid $lightgray;
    border-radius: 10px;
    color: $darkgray;
    font-size: .8rem;
    padding: .5rem 1rem;
    width: calc(100% - 300px);
    &::placeholder {
      font-size: .8rem;
    }
  }

  .other {
    display: inline-block;
    #due-date {
      border: 1px solid $lightgray;
      border-radius: 10px;
      font-size: .75rem;
      padding: .35rem .65rem;
      width: 10rem;
    }

    #submit-task {
      background-color: $primary;
      border: 1px solid $primary;
      border-radius: 50px;
      color: $white;
      font-size: .8rem;
      padding: .6rem 2rem;
    }
  }
}
