$white:                     #fff;
$milk:                      #DCD9CD;
$black:                     #000;
$gray:                      #808080;
$darkgray:                  #464646;
$lightgray:                 #bababa;

$primary:                   #31AF91;
$primary-hover:             #34cbac;
$danger:                    #af201c;