$white:                     #fff;
$black:                     #000;
$gray:                      #808080;
$darkgray:                  #464646;
$lightgray:                 #bababa;

$primary:                   #31AF91;
$danger:                    #af201c;